<section *ngIf="spotContainerAble" id="container-spot">
  <div id="spot-information">
    <img [src]="imagePath" />
    <h3>
      description:
      {{ spotObject.description }}
    </h3>
    <p>
      address:
      {{ spotObject.address }}
    </p>
    <h1>In this spot are connected: {{ peopleInSpot.length }} skaters</h1>
    <p>
      Want to chat real time with people in this Spot?
      <app-join-button></app-join-button>
    </p>

    <ul *ngFor="let item of peopleInSpot">
      <li>{{ item }}</li>
    </ul>
    <button (click)="clearSpotObject()">back</button>
  </div>
</section>
