#spots-index {
  grid-column: 2/3;
  grid-row: 3;
}
.list-spots {
  list-style: none;
  line-height: 2rem;
  padding: 0 20px;
  & > li {
    cursor: pointer;
    color: orangered;
  }
}
.item-toogle {
  background-color: rgba(255, 68, 0, 0.603);
  width: 0px;
  height: 3px;
  border-radius: 4px;
}
.item-toogle-anim {
  animation: btn-underline 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes btn-underline {
  100% {
    width: 100px;
  }
}
