#spots-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5%;
}
.list-spots-heading > span {
  color: orangered;
  font-size: inherit;
}
.list-spots {
  margin-top: 5%;
  list-style: none;
  line-height: 2rem;
  & > li {
    cursor: pointer;
    color: #518eff;
    font-size: x-large;
    margin: 1% 0;
  }
  & > ul {
    padding: 0 5%;
  }
}
.item-toogle {
  background-color: orangered;
  width: 0px;
  height: 3px;
  border-radius: 4px;
  margin: 2% 0%;
}
.item-toogle-anim {
  animation: btn-underline 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes btn-underline {
  100% {
    width: 50%;
  }
}
