.app-footer {
  grid-column: 1/2;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;

  .footer__icon {
    margin: 0 10px;
    width: 20px;
  }
}
