.form_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000ab;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  form:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2%;
    background-color: rgb(81, 142, 255);
    padding: 7%;
    border: 3px solid orangered;
    border-radius: 5px;
    justify-content: space-between;
    & > label > input,
    select {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: none;
    }
    & > label > input:hover {
      border: 1px solid rgb(81, 142, 255);
      transition: all 0.5s ease-in;
    }
    & > label {
      margin-top: 15px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    & button {
      background-color: #000;
      border-radius: 5px;
      padding: 5px 10px;
      border: none;
    }
    & button:hover {
      background-color: orangered;
      color: #000;
    }
  }
}
.button-container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-file {
  display: none;
}
