<button class="nav__button" (click)="getFormInfo()">Add spot</button>

<div *ngIf="showForm">
  <form
    #myForm="ngForm"
    [formGroup]="form"
    (ngSubmit)="onSubmit(); resetForm()"
  >
    <input
      name="address"
      formControlName="address"
      [(ngModel)]="addressInfo.address"
    />
    <input
      name="postalCode"
      formControlName="postal_code"
      [ngModel]="addressInfo.pc"
    />

    <select class="form-control" formControlName="type">
      <option value="handrail">handrail</option>
      <option value="ledge">ledge</option>
      <option value="stairs">stairs</option>
      <option value="skatepark">skatepark</option>
      <option value="flatbar">flatbar</option>
    </select>
    <input
      type="text"
      placeholder="description"
      formControlName="description"
    />
    <button type="submit" [disabled]="!form.valid">create</button>
    <button (click)="resetForm()">back</button>
  </form>
  <!-- <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
        <input type="file" name="imagen" />
    </form> -->
</div>

<p>{{ errorAddSpot$ | async }}</p>
