<div class="form_container" *ngIf="showForm">
  <form
    #myForm="ngForm"
    [formGroup]="form"
    (ngSubmit)="onSubmit(); resetForm()"
  >
    <label for="address"
      >Address
      <input name="address" formControlName="address" readonly />
    </label>

    <label for="city"
      >City
      <input name="city" formControlName="city" readonly />
    </label>

    <label for="type"
      >Select type of spot
      <select class="form-control" formControlName="type" name="type">
        <option value="handrail">handrail</option>
        <option value="ledge">ledge</option>
        <option value="stairs">stairs</option>
        <option value="skatepark">skatepark</option>
        <option value="flatbar">flatbar</option>
      </select>
    </label>

    <label for="description"
      >Description
      <input
        type="text"
        name="description"
        placeholder="eg. the place is empty of people"
        formControlName="description"
      />
    </label>

    <label for="photo"
      >Upload photo
      <input
        type="file"
        name="photo"
        accept="image/*,capture=camera"
        (change)="handleInputImage($event)"
      />
    </label>

    <div class="button-container">
      <button type="submit" [disabled]="!form.valid">create</button>
      <button (click)="resetForm()">back</button>
    </div>
  </form>
</div>
