<div #windowChat *ngIf="windowIsAble" class="chat-wrapper">
  <div class="msg-box">
    <ul class="chat-historial">
      <ng-container *ngFor="let item of historial">
        <li *ngIf="item.from === 'You'" class="item my-side">{{ item.msg }}</li>

        <li *ngIf="item.from != 'You'" class="item">
          {{ item.from.slice(0, 5) }}...: {{ item.msg }}
        </li>
      </ng-container>

      <!-- <li *ngIf="item.from != 'You'">{{ item.from }}: {{ item.msg }}</li> -->
    </ul>
  </div>

  <textarea (input)="getMsg($event)"></textarea>
  <button class="send-btn" (click)="sendMsg()">send</button>
  <button class="back-btn" (click)="closeWindowChat()">back</button>
</div>
<button *ngIf="!windowIsAble" (click)="openChatAgain()">openchat again</button>
