.chat-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 75%);
  top: 0;
  left: 0;
  z-index: 11;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 7fr 1fr 1fr 1fr;
  align-items: center;
  gap: 5px;
}
.msg-box {
  background-color: #000;
  color: #2c2323;
  border-radius: 10px;
  height: 90%;
  border: solid 0.5px orange;
  font-size: 19px;
  grid-column: 2/5;
  grid-row: 1/2;
  overflow: scroll;
}
textarea {
  font-size: 20px;
  grid-column: 2/4;
  grid-row: 2/4;
  height: 80%;
  padding: 5px;
}
.send-btn {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: flex-end;
  height: 87%;
  background-color: #8fd2ff;
  border: none;
  border-radius: 20px;
}
.back-btn {
  grid-column: 4/5;
  grid-row: 3/4;
  align-self: flex-start;
  height: 87%;
  background-color: rgb(228, 131, 96);
  border: none;
  border-radius: 20px;
}
.chat-historial {
  display: grid;
  padding: 0;
  grid-template-columns: 3fr 1fr 3fr;
  line-height: 2em;
  justify-items: flex-end;
}
.item {
  list-style: none;
  grid-column: 1/4;
  max-width: 60%;
  padding: 2% 3%;
  text-align: start;
  margin: 2% 3%;
  line-height: normal;
  line-break: auto;
  justify-self: start;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 14px;
}
.my-side {
  justify-self: flex-end;
}
.sender-chat-id {
  color: orangered;
  font-weight: bold;
}
.chat-open-fixed {
  position:fixed;
  top: 50%;
  right: 2%;
  background-color: white;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 50px;
  height: 50px;
}