@import "../../../devices.scss";
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

%auth-container {
  height: 100vh;
  background-color: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.716) 0%,
    rgb(0, 0, 0) 100%
  );
  background-image: conic-gradient(
    black 45deg,
    rgba(0, 0, 0, 0.8) 90deg,
    #fa923cc7 235deg,
    black 335deg
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
  & p {
    text-align: center;
  }
}
%logo-login {
  background-color: transparent;
  color: transparent;
  font-style: italic;
  z-index: 10;
  display: grid;
  place-content: center;
  color: rgba(0, 0, 0, 0.6) !important;
  perspective: 100px;
  animation: neon 4s ease-in-out infinite;
  animation-direction: alternate-reverse;
  & > span {
    font-family: "Passion One", cursive;
    cursor: pointer;
    align-self: flex-end;
    font-size: 75px;
    letter-spacing: 3px;
    color: rgb(81, 142, 255);
  }
}
%login-container {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 768px) {
    width: 40%;
  }
}
%form-container {
  display: grid;
  gap: 70px;
  width: 90%;
  & > p {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    font-weight: 500;
    font-size: 18px;
    & > span {
      color: orangered;
    }
  }
}
%form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  & label {
    width: 100%;
    padding: 10px 0;
  }
  & > label > input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 0;
    &:focus {
      outline: none;
    }
    &::placeholder,
    -moz::placeholder,
    -ms::placeholder {
      vertical-align: baseline;
      color: white;
    }
    &:focus::placeholder {
      transform: translateY(-15px) translateX(-20px) scale(0.9);
      transition: transform 0.5s linear;
    }
    &::after {
      color: red;
    }
  }

  & > button {
    margin-top: 20px;
    padding: 1% 5%;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  & > button:hover {
    background-color: black;
    color: orangered;
  }
}
section {
  @extend %auth-container;
}

.login-container {
  @extend %login-container;
}

#logo-login {
  @extend %logo-login;
}

.form-container {
  @extend %form-container;
}

form {
  @extend %form;
}
span .sing-up-link {
  cursor: pointer;
}

@media (min-width: 768px) {
  .login-container {
    width: 40%;
  }
}

@keyframes neon {
  9% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }
  10% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: none;
  }

  11% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }

  20% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: none;
  }

  22% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }
  45% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }

  55% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: none;
  }

  57% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }

  59% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: nsone;
  }
  65% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }
  85% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: none;
  }
  89% {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 8px 7px 7px orangered;
  }
  93% {
    color: rgba(0, 0, 0, 0.6);

    text-shadow: none;
  }
}
