<section>
  <div class="login-container">
    <div id="logo-login"><span routerLink="/">GoRip</span></div>

    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">
          <input type="text" formControlName="email" placeholder="email" />
        </label>
        <label for="password">
          <input
            type="text"
            formControlName="password"
            placeholder="password"
          />
        </label>
        <button type="submit" [disabled]="!loginForm.valid">login</button>
        <p *ngIf="error">{{ error }}</p>
      </form>
      <p>
        Already not have an account?
        <span routerLink="/signup">Sign Up</span>
      </p>
      <!-- <button (click)="testToken()">Send Token</button> -->
    </div>
  </div>
</section>
