.login-container {
  background: url("../../../assets/New\ document\ 1.2021_12_28_18_51_33.0.svg"),
    radial-gradient(
      circle,
      rgba(24, 76, 116, 0.716) 0%,
      rgb(255, 254, 254) 100%
    );
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
