@import "../../../prueba.scss";
@import "../../../devices.scss";

.wrap-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -12px -12px;
  border-radius: 38px 0 0 38px;
  // width: 102px;
  @include fromsize($tablet-minwdt) {
    width: 117%;
  }
  .nav__logo {
    @extend %primary_btn;
  }
  .nav__logo h1 {
    font-size: 18px;
    .letterg {
      font-size: 22px;
    }
  }

  .nav__button {
    @extend %primary_btn;
    &:hover {
      @extend %hoverButton;
    }
  }
}
