@import "../../../prueba.scss";
@import "../../../devices.scss";
@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Russo+One&display=swap");

.wrap-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;

  //
  @include fromsize($tablet-minwdt) {
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__logo {
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
  }
  .nav__logo h1 {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;

    color: yellow;
    > span {
      font-family: inherit;
      letter-spacing: 2px;
      font-size: 34px;
    }
    .letterG {
      color: rgb(36, 241, 36);
    }
    .letterR {
      color: rgb(182, 56, 255);
    }
    .letterI {
      color: aqua;
    }
  }

  .nav__button {
    @extend %primary_btn;
    margin: 0 2%;
    &:hover {
      @extend %hoverButton;
    }
  }
}
