@import "../../../prueba.scss";
@import "../../../devices.scss";

.wrap-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;

  //
  @include fromsize($tablet-minwdt) {
    width: 100%;
  }
  .nav__logo {
  }
  .nav__logo h1 {
    font-size: 25px;
    color: yellow;
    .letterG {
      font-size: 22px;
      color: rgb(36, 241, 36);
    }
    .letterR {
      font-size: 22px;
      color: rgb(182, 56, 255);
    }
    .letterI {
      color: aqua;
    }
  }

  .nav__button {
    @extend %primary_btn;
    margin: 0 2%;
    &:hover {
      @extend %hoverButton;
    }
  }
}
