@mixin borderLiner($radius: 10px, $borderSize: 8, $type: solid) {
  border: $borderSize $type orangered;
  border-radius: $radius;
}
%primary_btn {
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: inset 0px -10px 14px 1px orange;
  height: 50px;
  width: 62px;
}
%nav {
  @include borderLiner(
    $radius: 50px 0px 0px 50px,
    $borderSize: 22px,
    $type: dashed
  );
  background-color: transparent;
  color: orange;
  height: 90vh;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}
%map {
  grid-row: 1/2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
%hoverButton {
  border: none;
  border-radius: 2px;
  padding: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
}
